<h2>Editar perfil</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


    <div class="input-group">
   <span class="input-group-addon">

    <%= f.input :email, required: true, autofocus: true, :class => "form-control " %>
   </span>  </div>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

   <div class="input-group">
   <span class="input-group-addon"><%= f.input :password, autocomplete: "off", hint: "si no querés cambiarla, dejá el campo en blanco", required: false, :class => "form-control " %></span>  </div> 

  <div class="input-group">
   <span class="input-group-addon">
<%= f.input :password_confirmation, required: false, :class => "form-control " %>

   </span>  </div>

      <div class="input-group">
   <span class="input-group-addon">
    <%= f.input :current_password, hint: "necesitamos tu contraseña para confirmar los cambios", required: true, :class => "form-control " %>

   </span>  </div>

  </div>


 <div class="input-group">
   <span class="input-group-addon">

    <%= f.input :nombre, :class => "form-control " %>
   </span>  </div>
  <div class="actions">
    <%= f.button :submit, "Actualizar datos" %>
  </div>
<% end %>

<h3>Cancelar cuenta</h3>

<p><%= link_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete %></p>

<%= link_to "Volver", :back %>
