
<%= form_for(mision) do |f| %>
  <% if mision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mision.errors.count, "error") %> prohibited this mision from being saved:</h2>

      <ul>
      <% mision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="input-group">
   <span class="input-group-addon">Nombre de la misión</span>
    <%= f.text_field :nombre , :class => "form-control " %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">Nombre de la misión</span>
    <%= f.text_field :nivel, :class => "form-control "  %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">Descripción</span>
    <%= f.text_area :descripcion, :class => "form-control "  %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">URL del temario</span>
    <%= f.text_field :urltemario, :class => "form-control "  %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">URL de la imagen</span>
    <%= f.text_field :urlimagen, :class => "form-control "  %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">Comentarios</span>
    <%= f.text_field :comentario , :class => "form-control " %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">¿Misión habilitada?</span>
    <%= f.check_box :habilitado, :class => "form-control "  %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">¿Misión visible?</span>
    <%= f.check_box :visible, :class => "form-control "  %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
