<h1>¡Hay misiones que cumplir!</h1>

<div class="transitions-enabled clearfix masonry" >
    <% @misions.each do |mision| %>
<div class="box col3 masonry-brick">
    <div class="panel panel-default"> <!-- Agregar distinción de col* según cantidad de visitas -->
    <div class="panel-heading">
        <h2 class="panel-title"><%= mision.nombre %></h2>
    </div>
    <div class="panel-body">
<%= image_tag mision.image.url(:large), :class => "img-rounded"%><br>
<small>Nivel: <i><%= mision.nivel %></i></small>
<p><%= mision.descripcion %></p>
<%= link_to "Dar un vistazo", mision.urltemario, :class => "btn btn-default" %> <%= link_to "¡Comenzar misión!", mision, :class => "btn btn-primary" %>
    </div>
    </div>
</div>

      <!--- FALTA VERIFICAR SI ESTÁ HABILITADA Y VISIBLE
        <td><%= mision.comentario %></td>
        <td><%= mision.habilitado %></td>
        <td><%= mision.visible %></td>
        OPCIONES PARA ADMINISTRADORES EN PANEL-FOOTER
        <td><%= link_to 'Editar', edit_mision_path(mision) %></td>
        <td><%= link_to 'Eliminar', mision, method: :delete, data: { confirm: '¿Estás seguro que querés eliminar esta misión?' } %></td></div>
        <%= link_to 'Crear nueva misión', new_mision_path, :class =>"btn btn-default" %>
        -->
    <% end %>


</div>
<br>




