<p id="notice"><%= notice %></p>

<h1>Misions</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nivel</th>
      <th>Descripcion</th>
      <th>Urltemario</th>
      <th>Urlimagen</th>
      <th>Comentario</th>
      <th>Habilitado</th>
      <th>Visible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @misions.each do |mision| %>
      <tr>
        <td><%= mision.nombre %></td>
        <td><%= mision.nivel %></td>
        <td><%= mision.descripcion %></td>
        <td><%= mision.urltemario %></td>
        <td><%= mision.urlimagen %></td>
        <td><%= mision.comentario %></td>
        <td><%= mision.habilitado %></td>
        <td><%= mision.visible %></td>
        <td><%= link_to 'Show', mision %></td>
        <td><%= link_to 'Edit', edit_mision_path(mision) %></td>
        <td><%= link_to 'Destroy', mision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mision', new_mision_path %>
