<div class="container-fluid">
<%= link_to content_tag(:span, " ", class:"fa fa-fa-hand-o-left-2x"), misions_path %>
  <div class="row">
      <div class="col-xs-12 col-sm-9">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= @mision.nombre %></h2>


        </div>

      <div class="panel-body"><div class="row pull-right">
          <% if current_usuario.liked? @mision %>


<%= link_to dislike_mision_path(@mision), method: :put, class: "btn btn-warning"  do %>
<%= content_tag(:span, " Quitar de Mis Misiones ", class: "fa fa-trash-o") %>
</span>

<% end %>
<% else %>
<%= link_to like_mision_path(@mision), method: :put, class: "btn btn-success" do %>
<%= content_tag(:span, " Agregar a Mis Misiones", class: "fa fa-plus") %>

<% end %>
<% end %>

<span class="label label-default" data-toggle="tooltip" title="Cantidad de personas que siguen esta misión"><%= @mision.get_upvotes.size %>
  </span>
</div>
        <small><%= @mision.nivel %></small>
        <p><%= @mision.descripcion %></p>
        <small><%= @mision.comentario %></small>
          <%= link_to "Ver temario", @mision.urltemario %>
      </div>
      </div>
      </div>

      <div class="col-xs-12 col-sm-3"><%= image_tag @mision.image.url(:large), :class => "img-thumbnail" %></div>
      </div>

  </div><!--- Características de la misión -->




<div class="panel panel-default">
<div class="panel-heading">
Objetivos
</div>
<div class="panel-body">
<% nest1=0 %>
<% nest2=0 %>
<% nest3=0 %>
      <% @objetivos.each do |objetivo| %>
                       

      <% estre1 = false %>
      <% estre2 =false %>
      <% estre3= false %>
      <div class="row">
          <% if current_usuario.es_docente? %>

        <div class="col-md-2"><span data-toggle="tooltip" title="Editar misión"><%= link_to content_tag(:i, "", class: "fa fa-pencil"), edit_mision_objetivo_path(@mision.id, objetivo.id), :class => "btn btn-warning" %></span>

        <span data-toggle="tooltip" title="Eliminar misión">
        <%= link_to content_tag(:i, " ", class: "fa fa-trash"), mision_objetivo_path(@mision.id, objetivo.id), method: :delete, data: { confirm: "¿Estás seguro que deseás eliminar esta misión?" }, class: "btn btn-danger"  %></span></div>

             <% end %>
        <div class="col-xs-7 col-md-8"><strong><%= link_to objetivo.nombre, mision_objetivo_path(mision_id: @mision.id, id: objetivo.id) %></strong><p><%= objetivo.descripcion %></p></div>
        
        <div class="col-xs-5 col-md-2 pull-right">
  <% existe = false; #variable que comprobará si existe el objetivo%>
     <% @estrellas.each do |r| %>
  <% if r.idobjetivo_id==objetivo.id %>
    <% existe = true; #el objetivo existe! %>
    <% if r.est1? %>
      <i class="fa fa-star fa-2x" aria-hidden="true"></i>
      <% nest1=nest1+1 %>
      <% if r.est2? %>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <% nest2=nest2+1 %>
        <% if r.est3? %>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <% nest3=nest3+1 %>
      <% else %>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
    <% end %>
    
<% end %>

<% end %>

<% if existe==false %>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
<% end %>

        </div>

      </div> 
    <!--- Cada objetivo iterado -->


      <% end %>



          <div class="row">
    <div class="col-xs-12">
    
    <% if current_usuario.es_docente? %><span data-toggle="tooltip" title="Nueva misión">
        <%= link_to '+', new_mision_objetivo_path(@mision), :class =>"btn btn-success" %></span>
     <% end %>
    </div></div>
</div>

</div>


<% if @objetivos.length==0 %>
<% progreso = 0 %>
<% progresoexc = 0 %>
<% vistos = 0 %>
<% else %>

<% progreso = (100 * nest2 / @objetivos.length) %>
<% progresoexc = (100 * nest3 / @objetivos.length) %>

<% vistos = (100 * nest1 / @objetivos.length) %>
<% end %>
<h1 data-toggle="tooltip" title="Para cumplir la misión, deberás obtener al menos dos estrellas en TODOS los objetivos">Progresos personales</h1>
<div class="row">
<div class="col-xs-12 col-sm-4">
  <div class="panel panel-success">
    <div class="panel-heading">Cumplidos (<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>)</div>
    <div class="panel-body"><%= nest2 %>/<%= @objetivos.length %></div>
    <div class="panel-footer">

    <div class="progress"> 
      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
  aria-valuenow="<%= progreso %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= progreso %>%">
    <%= progreso %>% Completado
      </div>
    </div>
    </div>
  </div>
</div>


<div class="col-xs-6 col-sm-4">
  <div class="panel panel-info">
    <div class="panel-heading" data-toggle="tooltip" title="Los objetivos cumplidos con excelencia son todos aquellos en los que obtuviste tres estrellas">Con excelencia (<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></i><i class="fa fa-star" aria-hidden="true"></i>)</div>
    <div class="panel-body"><%= nest3 %>/<%= @objetivos.length %></div>
    <div class="panel-footer">

    <div class="progress"> 
      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
  aria-valuenow="<%= progresoexc %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= progresoexc %>%">
    <%= progresoexc %>% Completado
      </div>
    </div>
    </div>
  </div>
</div>


<div class="col-xs-6 col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">Vistos (<i class="fa fa-star" aria-hidden="true"></i>)</div>
    <div class="panel-body"><%= nest1 %>/<%= @objetivos.length %></div>
    <div class="panel-footer">

    <div class="progress"> 
      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
  aria-valuenow="<%= vistos %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= vistos %>%">
    <%= vistos %>% Completado
      </div>
    </div>
    </div>
  </div>
</div>


</div>




</div>

 <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>