<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @mision.nombre %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @mision.nivel %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @mision.descripcion %>
</p>

<p>
  <strong>Urltemario:</strong>
  <%= @mision.urltemario %>
</p>

<p>
  <strong>Urlimagen:</strong>
  <%= @mision.urlimagen %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @mision.comentario %>
</p>

<p>
  <strong>Habilitado:</strong>
  <%= @mision.habilitado %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @mision.visible %>
</p>

<span class="glyphicon glyphicon-heart"><%= @mision.get_upvotes.size %></span>
<% #if @mision.liked_by @current_usuario == true %>

<%= link_to like_mision_path(@mision), method: :put, class: "btn btn-default" do %>
<%= content_tag(:span, " Agregar a mis Misiones", class: "glyphicon glyphicon-heart") %>

<% end %>
<% #else %>
<%= link_to dislike_mision_path(@mision), method: :put, class: "btn btn-default"  do %>
<%= content_tag(:span, " Quitar de mis Misiones", class: "glyphicon glyphicon-heart") %>

<% end %>
<% #end %>

<%= link_to 'Editar', edit_mision_path(@mision) %> |
<%= link_to 'Volver atrás', misions_path %>
 