<div class="container-fluid">
  <div class="row">
      <div class="col-xs-6 col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= @mision.nombre %></h2>


        </div>
      <div class="panel-body"><div class="row pull-right">
          <% if current_usuario.liked? @mision %>


<%= link_to dislike_mision_path(@mision), method: :put, class: "btn btn-warning"  do %>
<%= content_tag(:span, " Quitar de Mis Misiones ", class: "fa fa-trash-o") %>
</span>

<% end %>
<% else %>
<%= link_to like_mision_path(@mision), method: :put, class: "btn btn-success" do %>
<%= content_tag(:span, " Agregar a Mis Misiones", class: "fa fa-plus") %>

<% end %>
<% end %>

<span class="label label-default" data-toggle="tooltip" title="Cantidad de personas que siguen esta misión"><%= @mision.get_upvotes.size %>
  </span>
</div>
        <small><%= @mision.nivel %></small>
        <p><%= @mision.descripcion %></p>
        <small><%= @mision.comentario %></small>
          <%= link_to "Ver temario", @mision.urltemario %>
      </div>
      </div>
      </div>

      <div class="col-xs-6 col-md-3"><%= image_tag @mision.image.url(:large), :class => "img-thumbnail" %></div>
      </div>

  </div><!--- Características de la misión -->

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    40% Completado
  </div>
</div>

</div>

<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
Objetivos
</div>
<div class="panel-body">

      <% @objetivos.each do |objetivo| %>
                       

      <% estre1 = false %>
      <% estre2 =false %>
      <% estre3= false %>
      <div class="row">
          <% if current_usuario.es_docente? %>

        <div class="col-md-2"><span data-toggle="tooltip" title="Editar misión"><%= link_to content_tag(:i, "", class: "fa fa-pencil"), edit_mision_objetivo_path(@mision.id, objetivo.id), :class => "btn btn-warning" %></span>

        <span data-toggle="tooltip" title="Eliminar misión">
        <%= link_to content_tag(:i, " ", class: "fa fa-trash"), mision_objetivo_path(@mision.id, objetivo.id), method: :delete, data: { confirm: "¿Estás seguro que deseás eliminar esta misión?" }, class: "btn btn-danger"  %></span></div>

             <% end %>
        <div class="col-xs-7 col-md-8"><strong><%= link_to objetivo.nombre, mision_objetivo_path(mision_id: @mision.id, id: objetivo.id) %></strong><p>Lorem ipsum lorem ipsum lorem ipsum</p></div>
        
        <div class="col-xs-4 col-md-2 pull-right">
  <% existe = false; #variable que comprobará si existe el objetivo%>
     <% @estrellas.each do |r| %>
  <% if r.idobjetivo_id==objetivo.id %>
    <% existe = true; #el objetivo existe! %>
    <% if r.est1? %>
      <i class="fa fa-star fa-2x" aria-hidden="true"></i>
      <% if r.est2? %>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        <% if r.est3? %>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
    <% end %>
    
<% end %>

<% end %>

<% if existe==false %>
        <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
<% end %>

        </div>

      </div> 
    <!--- Cada objetivo iterado -->

      <% end %>

          <div class="row">
    <div class="col-xs-12">
    
    <% if current_usuario.es_docente? %><span data-toggle="tooltip" title="Nueva misión">
        <%= link_to '+', new_mision_objetivo_path(@mision), :class =>"btn btn-success" %></span>
     <% end %>
    </div></div>
</div>

</div>
</div>




<%= link_to 'Editar', edit_mision_path(@mision) %> |
<%= link_to 'Volver atrás', misions_path %>
 <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>