<h1> Mostrar </h1>

<%= params[:idusuario] %>
<%= @estrellas.each do |objetivo| %>
<%= objetivo.idusuario_id %>
<%= objetivo.idobjetivo_id %>
<%= objetivo.est1 %>
<%= objetivo.est2 %>
<%= objetivo.est3 %>
<% end %>