<%= form_for([@mision, objetivo]) do |f| %>
  <% if objetivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objetivo.errors.count, "error") %> prohibited this objetivo from being saved:</h2>

      <ul>
      <% objetivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="input-group">
   <span class="input-group-addon">Nombre del objetivo</span> 
    <%= f.text_field :nombre, :class => "form-control " %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">Descripción</span>
    <%= f.text_field :descripcion, :class => "form-control " %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">URL del video</span>
    <%= f.text_field :urlvideo, :class => "form-control " %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">Instructivo</span>
    <%= f.text_area :instructivo, :class => "form-control " %>
  </div>

  <div class="input-group">
   <span class="input-group-addon">URL de evaluación</span>
    <%= f.text_field :urlevaluativo, :class => "form-control " %>
  </div>

  <div class="actions">
    <%= f.submit "Crear", :class => "btn btn-primary"%>
  </div>

<% end %>
