SÓLO VISIBLE PARA ADMINISTRADORES
<h1>Objetivos</h1>

<table>
  <thead>
    <tr>
      <th>Mision</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Urlvideo</th>
      <th>Instructivo</th>
      <th>Urlevaluativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objetivos.each do |objetivo| %>
      <tr>
        <td><%= objetivo.mision_id %></td>
        <td><%= objetivo.nombre %></td>
        <td><%= objetivo.descripcion %></td>
        <td><%= objetivo.urlvideo %></td>
        <td><%= objetivo.instructivo %></td>
        <td><%= objetivo.urlevaluativo %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo OBJETIVO para esta misión', new_mision_objetivo_path %>
