<div class="row">
<div class="col-md-9 col-xs-12">
<div class="panel panel-primary">
<strong>Objetivo:</strong> <%= @objetivo.nombre %>
<strong>Misión:</strong> <%= @mision.nombre %>
<p>
  <%= @objetivo.descripcion %>
</p>
</div>
</div>
<div class="col-md-3 col-xs-12">

  <i class="fa fa-star fa-2x" aria-hidden="true"></i>
  <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
  <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>

</div>



</div>
<div class="hs-responsive-embed-youtube">   <%= raw @objetivo.urlvideo %> </div>



<p>
  <strong>Urlvideo:</strong>
  <%= @objetivo.urlvideo %>
</p>

<p>
  <strong>Instructivo:</strong>
  <%= @objetivo.instructivo %>
</p>

<p>
  <strong>Urlevaluativo:</strong>
  <%= @objetivo.urlevaluativo %>
</p>

<%= link_to 'Edit', edit_mision_objetivo_path(@objetivo) %> |
<%= link_to 'Back', mision_objetivos_path %>
