<div class="row">
<div class="col-md-9 col-xs-12">
<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>Objetivo:</strong> <%= @objetivo.nombre %>
  </div>
  <div class="panel-body">
      <strong>Misión:</strong> <%= link_to @mision.nombre, "../" %>
      <p>
        <%= @objetivo.descripcion %>
      </p>
  </div>

</div>


</div>
<div class="col-md-3 col-xs-12">

<div class="panel panel-default">
<div class="panel-heading">Estado del objetivo</div>
<% if @estrella==nil %>
      <i class="fa fa-star-o fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Primer estrella! Se te otorga cuando viste el video completo"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Segunda estrella!"></i>
      <i class="fa fa-star-o fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Tercera estrella!"></i>


<% else %>

        <% if @estrella.est1? %>
       
            <i class="fa fa-star fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Primer estrella! Se te otorga cuando viste el video completo"></i>
        <%else%>
            <i class="fa fa-star-o fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Primer estrella! Se te otorga cuando viste el video completo"></i>
        <%end%>

        <% if @estrella.est2? %>
       
            <i class="fa fa-star fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Segunda estrella!"></i>
        <%else%>
            <i class="fa fa-star-o fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Segunda estrella!"></i>
        <%end%>

          <% if @estrella.est3? %>
       
            <i class="fa fa-star fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Tercera estrella!"></i>
        <%else%>
            <i class="fa fa-star-o fa-2x" aria-hidden="true" data-toggle="tooltip" title="¡Tercera estrella!"></i>
        <%end%> 

<% end %>
</div>
</div>



</div>
<div class="row"><div class="col-xs-12">

    <script>
     // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: '<%= @objetivo.urlvideo %>',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED && !done) {
          // EVENTO PARA MOSTRAR EL TAG OCULTO 
          done = true;
          document.getElementById('seter').style.display = 'block';
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
</script>


  <div class="hs-responsive-embed-youtube"> <div id="player"></div> </div>
  </div><!--- Evento para que cuando termine el video, compruebe que a menos que el usuario ya tenga est1, mande por POST la nueva estrella 1 con el idobjetivo y el idusuario -->



</div>
  <% if @estrella==nil %>
    <div class="row"><div id='seter' style='display:none;'>
    <% e1={"idobjetivo_id"=>@objetivo.id}  %>
    <%= link_to "Reclamar primera estrella en el objetivo", autoes_path(e1), :method => :create %><br>
    <i class="fa fa-star fa-3x" aria-hidden="true" data-toggle="tooltip" title="¡Obtener estrella!"></i>
    </div></div>
  <% end %>
<div class="row">
<div class="row"><div class="col-xs-12">

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#ay">Ayudas del objetivo</a></li>
                <li><a data-toggle="tab" href="#pr">¡Quiero ver la prueba!</a></li>
              </ul>

              <div class="tab-content panel">
                <div id="ay" class="tab-pane fade in active">
                  <h3>Ayudas</h3>
                    <%= raw @objetivo.instructivo %>
                </div>
                <div id="pr" class="tab-pane fade">
                  <h3>Prueba</h3>
                    <%= link_to "Ir a la prueba", @objetivo.urlevaluativo, target: :_blank  %>
                </div>
              </div>
</div>
</div>

<!--- Sólo para admins
<%= link_to 'Edit', edit_mision_objetivo_path(@objetivo) %> |
<%= link_to 'Back', mision_objetivos_path %> -->
