<!DOCTYPE html>
<html>
<!-- Fuentes de íconos:
  Glyph: http://getbootstrap.com/components/
  FontAwesome: http://fontawesome.io/icons/
-->
  <head>
    <title>Ludere</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <div class="container" style="margin-top:50px">
  <body>
    <%= render "partials/menu" %>
  	<%  unless notice == nil %><div class="alert alert-info"><%= notice %></div><% end %>
    <%  unless alert == nil %><div class="alert alert-warning"><%= alert %></div><% end %>
 
  
    	<%= yield %></div>
    
  </body>
</html>
