<!DOCTYPE html>
<html>
<!-- Fuentes de íconos:
  Glyph: http://getbootstrap.com/components/
  FontAwesome: http://fontawesome.io/icons/
  KITS DE ADOBE
-->
<script src="https://use.typekit.net/uql7czv.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

  <head>
    <title>Ludere</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


  </head>
  
  <body>
    <%= render "partials/menu" %>
 
    	<%= yield %>
    
  </body>
  <script type="text/javascript">$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});</script>
</html>
